@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

header {
  width: 100%;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  header {
    font-size: 2.25rem;
  }
}

header h2 {
  font-size: 1em;
  color: #4E598C;
  font-weight: bold;
}

header div {
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div p {
  padding: 0.6em;
  font-size: 0.67em;
  color: #BDBDBD;
  position: relative;
}

header div p span {
  background-color: #F2994A;
  border-radius: 0.625em;
  height: 0.5em;
  display: none;
  position: absolute;
  width: 100%;
  bottom: -0.25em;
}

header div p:first-child {
  padding-left: 0;
}

header div p.current {
  color: #F2994A;
}

header div p.current span {
  display: block;
}

main {
  width: 80%;
  margin: 20px auto;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  main {
    font-size: 1.25rem;
  }
}

main form {
  padding: 1em 0;
}

main form .input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  margin-top: 2em;
}

main form .input--container input {
  background-color: #FFFFFF;
  border: none;
  outline: 1px solid #4E598C;
  padding: 1em;
  border-radius: 1em;
}

main form .input--container label {
  font-weight: bold;
  margin-bottom: 1em;
}

main form .input--container .required {
  color: #EB5757;
}

main form .input--container .info {
  font-size: 0.8em;
  margin-bottom: 1.8em;
  color: #817E9E;
}

main form .select--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main form .select--container select {
  border-radius: 1em;
  padding: 1em;
  outline: 1px solid #4E598C;
  border: none;
}

main form .select--container div:first-child {
  width: 60%;
  margin-right: 10%;
}

main form .select--container div {
  width: 30%;
}

main form .submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2em;
}

main form .submit--button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2C94C), to(#F2994A));
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border-radius: 1em;
  color: #F7F7FF;
  border: none;
  padding: 1em 5em;
}

main form .submit button:last-child {
  color: #4E598C;
  border: none;
  margin-left: 20px;
  background: none;
}
/*# sourceMappingURL=index.css.map */