@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

body {
  background-image: linear-gradient(170deg, rgba(242, 201, 76, 0.2) 70%, rgba(255, 255, 255, 0) calc(70% + 2px));
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  header {
    font-size: 2.25rem;
  }
}

header h2 {
  font-size: 1em;
  color: #4E598C;
  font-weight: bold;
}

header div {
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div a {
  padding: 0.6em;
  font-size: 0.67em;
  color: #BDBDBD;
  position: relative;
  display: block;
  text-decoration: none;
}

header div a span {
  background-color: #F2994A;
  border-radius: 0.625em;
  height: 0.5em;
  display: none;
  position: absolute;
  width: 100%;
  bottom: -0.25em;
  right: 0;
  left: 0;
}

header div a:first-child {
  padding-left: 0;
}

header div a.current {
  color: #F2994A;
}

header div a.current span {
  display: block;
}

main {
  width: 80%;
  margin: 5em auto;
  max-width: 700px;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  main {
    font-size: 1.25rem;
  }
}

main form {
  padding: 1em 0;
}

main form .input--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  margin-top: 2em;
}

main form .input--container input {
  background-color: #FFFFFF;
  border: none;
  outline: 1px solid #4E598C;
  padding: 1em;
  border-radius: 1em;
}

main form .input--container label {
  font-weight: bold;
  margin-bottom: 1em;
}

main form .input--container .required {
  color: #EB5757;
}

main form .input--container .info {
  font-size: 0.8em;
  margin-bottom: 1.8em;
  color: #817E9E;
}

main form .select--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main form .select--container div:first-child {
  width: 60%;
  margin-right: 10%;
}

main form .select--container div {
  width: 30%;
}

main form select {
  border-radius: 1em;
  padding: 1em;
  outline: 1px solid #4E598C;
  border: none;
}

main form .card--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main form .card--container div:first-child {
  width: 60%;
  margin-right: 5%;
}

main form .card--container div {
  width: 20%;
}

main form .card--container div:last-child {
  width: 10%;
  margin-left: 5%;
}

main form .submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2em;
}

main form .submit--button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2C94C), to(#F2994A));
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border-radius: 1em;
  color: #F7F7FF;
  border: none;
  padding: 1em 5em;
}

main form .submit button:last-child {
  color: #4E598C;
  border: none;
  margin-left: 20px;
  background: none;
}

section {
  width: 80%;
  margin: 20px auto;
}

section > div:first-child {
  padding: 1em;
}

section .confirm--payment {
  font-size: 0.625rem;
  -webkit-box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
          box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 1em;
  margin-top: 1em;
}

@media (min-width: 768px) {
  section .confirm--payment {
    font-size: 1.25rem;
  }
}

section .confirm--payment--header {
  background: #2F80ED;
  color: #FFFFFF;
  border-radius: 1em 1em 0 0;
  padding: 1em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
}

section .confirm--payment--body {
  padding: 1em 1.5em;
  margin: 1.5em;
  border-bottom: 1px solid #817E9E;
  font-size: 1em;
}

section .confirm--payment--body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .confirm--payment--footer {
  padding: 1em 2em;
  font-size: 1em;
}

section .confirm--payment--footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  border: 1px solid #817E9E;
  border-radius: 0.2em;
}

section .submit {
  border-radius: 0 0 1em 1em;
  padding: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 2em;
}

section .submit--button {
  background: -webkit-gradient(linear, left top, left bottom, from(#F2C94C), to(#F2994A));
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border-radius: 1em;
  color: #F7F7FF;
  border: none;
  padding: 1em 5em;
}

section .submit button:last-child {
  color: #4E598C;
  border: none;
  margin-left: 20px;
  background: none;
}

.payment--confirmed {
  font-size: 0.5rem;
  padding: 3em;
  -webkit-box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
          box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 100px auto;
}

@media (min-width: 768px) {
  .payment--confirmed {
    font-size: 1rem;
  }
}

.payment--confirmed .check {
  padding: 1em;
  background: #FFFFFF;
  color: #6FCF97;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  -webkit-box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
          box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
  border-radius: 50%;
}

.payment--confirmed h1 {
  font-size: 2em;
  color: #4E598C;
}

.payment--confirmed p {
  color: #4F4F4F;
}

.payment--confirmed a {
  color: #F2994A;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */